{% extends "base.html" %} {% block content %}
<main class="container py-5">
    <div class="row">
            <section class="card card-body">
        <h1>Catalog</h1>

        {% for product in products %}
        <div class="card card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p>${{ product.price }}</p>
            <p>{{ product.description }}</p>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
        </div>
        {% endfor %} {% endblock %}
    </section>
    </div>
</main>
